{% extends "membership/layout.html" %}
{% load static %}
{% block title %} Melgym | Member Detail {% endblock %}

{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}


{% if user.is_authenticated %}

<section style="background-color: #eee;">
    <div class="container ">  
      <div class="row" id="container-body">
        <div id="card-profile" class="col-12" >
          <div class="card">
            <div class="card-body">
              <div class = "row">
                <div class = "col-3">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 80px;">
                </div>                
                <div class="col-9">
                  <div class="row">
                    <div class="col-6">
                      <p class="mb-0"><strong>Name</strong></p>
                      <p class="text-muted mb-1">{{member.first_name}} {{member.last_name}}</p>
                    </div>
                    <div class="col-3">
                      <p class="mb-0"><strong>ID</strong></p>
                      <p class="text-muted mb-1">{{member.id}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <a type="button" class="btn btn-dark" data-id="{{member.id}}" id="punch">
                <span class="fa fa-fingerprint"></span>
              </a> 
              <a type="button" href="{% url 'renew-membership' member.id %}" class="btn btn-dark" data-id="{{member.id}}" id="renew">
                <span class="fa fa-retweet"></span>
              </a>              
              <a type="button" href="{% url 'member-attendance' member.id %}" class="btn btn-dark" data-id="{{member.id}}" id="member_attendance">
                <span class="fa fa-scroll"></span>
              </a>
              <a type="button" href="{% url 'edit-member' member.id %}" class="btn btn-primary" id="edit_member">
                <span class="fa fa-pencil"></span>
              </a>              
              <a type="button" class="btn btn-danger ms-1" href="{% url 'remove' member.id %}" >
                <span class="fa fa-trash-can"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
              <div id="member-details">
                <table class="table table-hover">
                    {% for membership in member.latest_memberships %} 
                        <tr>
                          <td>
                            <p class="mb-0"><strong>{{membership}}</strong></p>
                            <small class="text-muted">
                              <strong>DUE:</strong> {{membership.due_amount}}, 
                              <strong>PAID:</strong> {{membership.paid_amount}},
                              <strong>DIS.:</strong> {{membership.discount}}
                            </small>  
                          </td>
                          {% if membership.due_amount > 0 %}
                            <td>
                              <button type="button" class="btn btn-dark" id="pay-membership" data-id="{{membership.id}}">
                                <span class="fa fa-sack-dollar"></span>
                              </button>
                            </td>
                          {% else %}
                            <td>
                              <i class="fa fa-check-double fa-2xl" style="color: #28a745;"></i>
                              <span style="margin-left: 2rem;"></span>
                              <a href="{% url 'download-receipt' membership.id %}" class="btn btn-success" title="Download Recibo">
                               <span class="fa fa-file-pdf"></span>
                              </a>
                            </td>  
                          {% endif %}
                        </tr>
                        {% empty %}
                        <p>No results to show</p>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endif %}
{% endblock %}

{% block script %}
<script src = "{% static 'Membership/member.js' %}"></script>
{% endblock %}