{% extends "membership/layout.html" %}
{% load static %}
{% block title %} Melgym | Member Detail {% endblock %}

{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}

<section style="background-color: #eee;">
    <div class="container ">  
      <div class="row" id="container-body">
        <div id="card-profile" class="col-12" >
          <div class="card">
            <div class="card-body">
              <div class = "row">
                <div class = "col-3">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 80px;">
                </div>                
                <div class="col-9">
                  <div class="row">
                    <div class="col-6">
                      <p class="mb-0"><strong>Name</strong></p>
                      <p class="text-muted mb-1">{{member.first_name}} {{member.last_name}}</p>
                    </div>
                    <div class="col-3">
                      <p class="mb-0"><strong>ID</strong></p>
                      <p class="text-muted mb-1">{{member.id}}</p>
                    </div>
                  </div>
                  <!--div class="row">                    
                    <div class="col">
                      <p class="mb-0"><strong>Plan Expiry</strong></p>
                      <p class="text-muted mb-1">{{member.latest_membership.expiry_date|date:"Y-m-d"}}</p>
                    </div>
                    <div class="col">
                      <p class="mb-0"><strong>Due Amount</strong></p>
                      <p class="text-muted mb-4">{{member.due_amount}}</p>        
                    </div>
                     
                  </div-->
                </div>
              </div>
            </div>      

            <div class="card-footer text-muted">
              <a type="button" href="{% url 'renew-membership' member.id %}" class="btn btn-dark" data-id="{{member.id}}" id="renew">
                <span class="fa fa-retweet"></span>
              </a>              
              <a type="button" class="btn btn-dark" data-id="{{member.id}}" id="member_memberships">
                <span class="fa fa-scroll"></span>
              </a>
              <button type="button" class="btn btn-primary" id="edit-member" data-id="{{member.id}}">
                <span class="fa fa-pencil"></span>
              </button>
              <a type="button" class="btn btn-danger ms-1" href="{% url 'remove' member.id %}" >
                <span class="fa fa-trash-can"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
              <div id="member-details">
                <table class="table table-hover">
                    {% for membership in member.latest_memberships %} 
                        <tr>
                          <td>
                            <p class="mb-0"><strong>{{membership}}</strong></p>
                            <small class="text-muted">
                              <strong>DUE:</strong> {{membership.due_amount}}, 
                              <strong>PAID:</strong> {{membership.paid_amount}},
                              <strong>DIS.:</strong> {{membership.discount}}
                            </small>  
                          </td>
                          {% if membership.due_amount > 0 %}
                            <td>
                              <button type="button" class="btn btn-dark" id="pay-membership" data-id="{{membership.id}}">
                                <span class="fa fa-sack-dollar"></span>
                              </button>
                            </td>
                          {% else %}
                            <td><i class="fa fa-check-double fa-2xl" style="color: #28a745;"></i></td>  
                          {% endif %}
                        </tr>
                        {% empty %}
                        <p>No results to show</p>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
              <div id="member-details">
                <div class="row">
                  <div class="col-4">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-8">
                    <p class="text-muted mb-0" id="member-email">{{member.email}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-8">
                    <p class="text-muted mb-0" id="member-phone">{{member.phone_number}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p class="mb-0">Age</p>
                  </div>
                  <div class="col-8">
                    <p class="text-muted mb-0" id="member-age">{{member.age}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p class="mb-0">Gender</p>
                  </div>
                  <div class="col-8">
                    <p class="text-muted mb-0">{{member.gender}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-8">
                    <p class="text-muted mb-0" id="member-address">{{member.address}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-4">
                    <p class="mb-0">Plan</p>
                  </div>
                  <div class="col-8">
                    <p class="text-muted mb-0" id="member-plan">{{member.latest_membership}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div-->
      </div>
    </div>
  </section>

{% endif %}
{% endblock %}

{% block script %}
<script src = "{% static 'Membership/member.js' %}"></script>
{% endblock %}