{% extends "membership/layout.html" %}

{% block body %}

<div id='member-form'>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="d-flex justify-content-center">
        <form action="{% url 'renew-membership' member_id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <h4 style="text-align: center;">Renew {{member.first_name}} {{member.last_name}}</h4>
            </div>
            <div class="form-group">
                <label><strong>Membership</strong></label>
                {{form.membership}}
            </div>
            <div class="form-group">
                <label><strong>Paid Amount</strong></label>
                {{form.paid_amount}}
            </div>
            <div class="form-group">
                <label><strong>Discount</strong></label>
                {{form.discount}}
            </div>            
            <div class="form-group">
                <input class="btn btn-dark" type="submit" value="Renew">
            </div>
        </form>
    </div>

    {% endblock %}